
body {
  background-color: #EEE;
  margin: 20px;
}

#container {
  position: absolute;
  width: 800px;
  height: 600px;
  left : 50%;
  top : 50%;
  margin-left : -400px;
  margin-top : -300px;
  border: 1px solid #AAA;
  background-color: #fff;
}
